body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    top: 0;
    position: fixed;
}

.error {
    background-color: red;
    margin-top: 80px;
    margin-bottom: -80px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#h1page {
    margin-top: 90px;
    margin-bottom: 10px;
    color: #062947;
}

#logo {
    width: 150px;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: #baeae1;
}

.container {
    background-color: rgb(185, 232, 223); /* Fond blanc avec 50% d'opacité */
    max-width: 400px;
    margin: 150px auto;
    padding: 20px 20px 35px 20px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
}

#inputEmail,
#inputPassword,
#btnConnexion,
#btnReinitialiser {
    background-color: #e5e9ef;
    height: 30px;
    border: 1px solid #ccc;
    font-family: inherit;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    transition: all 0.2s;
}

#inputEmail:focus,
#inputPassword:focus,
#btnConnexion:hover,
#btnReinitialiser:hover {
    background-color: #ffffff;
    transform: scale(1.025);
    box-shadow: 0 0 2px 2px #ffffff;
    outline: none;
}

#btnConnexion,
#btnReinitialiser {
    background-color: #062948;
    color: white;
    font-size: 18px;
    cursor: pointer;
    height: 60px;
    margin-bottom: -10px;
    transition: transform 0.2s ease-in-out;
}

#btnConnexion:hover,
#btnReinitialiser:hover {
    transform: scale(1.02);
    background-color: #073154;
}


.oeil {
    position: absolute;
    margin-top: 82px;
    padding-top: 10px;
    right: 40px;
    cursor: pointer;
}
.oeil img {
    width: 40px;
}
.oeil:hover img {
    filter: brightness(80%);
}
.oeil.barre-oeil::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #36c2ff;
    transform: rotate(130deg);
}


#lienChanger {
    float: right;
    margin: 2px 12px;
    color: black;
    text-decoration: none;
}
#lienChanger:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

#mdpOublie {
    float: left;
    margin: 2px 12px;
    color: black;
    text-decoration: none;
}
#mdpOublie:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}