body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    position: relative;
}

#h1page {
    margin-top: 90px;
    margin-bottom: 10px;
}

#logo {
    width: 150px;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: #baeae1;
}

.container {
    background-color: rgba(255, 255, 255, 0.5); /* Fond blanc avec 50% d'opacité */
    max-width: 600px;
    margin: 150px auto;
    padding: 20px 20px 35px 20px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#btnInscription {
    background-color: #062949;
    color: white;
    font-size: 18px;
    cursor: pointer;
    height: 60px;
    margin-bottom: -10px;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 0 50px;
}

#btnInscription:hover {
    transform: scale(1.02);
    background-color: #193d5e;
    box-shadow: 0 0 2px 2px #669da0;
}

p {
    font-size: 20px;
    margin: 20px 0;
}
